<h1>Recipes</h1>

<div id="recipes">
  <% if @recipes.empty? %>
  <p class="">No recipes available! </p>
  <% else %>
    <% @recipes.each do |recipe| %>
      <div class="">
        <div>
          <%= recipe.name %>
          <% if can? :destroy, recipe %>
            <%= button_to "REMOVE", 
            user_recipe_path(current_user.id, recipe.id), method: :delete,
            data: { confirm: "Delete Recipe?" } %>
        <% end %>
          </div>
        <div>
          <p><%= recipe.description %></p>
        </div>
        <p>
          <%= link_to "View Recipe",
          user_recipe_url(current_user.id, recipe.id) %>
        </p>
      <div>
    <% end %>
  <% end %>
</div>

<%= link_to "New recipe", new_user_recipe_path(current_user) %>

<div>
  <p>
    <%= link_to "Back to Dashboard", users_path(current_user) %>
  </p>
</div>
