<div class="recipe-details">
  <h2><%= @recipe.name %></h2>
  <div class="">
    <p>Preparation time: <%= @recipe.preparation_time %> hours</p>
    <p>Cooking time: <%= @recipe.cooking_time %> hours</p>
    <p><%= @recipe.description %></p>
  </div>
</div>

<div>
  <div>
    <p>Generate shopping list</p>
    <p>Add ingredient</p>
  </div>
  <div>
  <table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td>
              <%= link_to food.name, user_food_url(current_user.id, food.id) %>
            </td>
            <td><%= food.measurement_unit %></td>
            <td><%= food.price %></td>
            <td>
              <%= button_to "Remove", 
                user_food_path(current_user.id, food.id), method: :delete,
                data: { confirm: "Delete food?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div>
  <%= link_to "Back to recipes", user_recipes_path %>
</div>
