<div class="show-foods-page">
  <h1>Foods</h1>

  <div class="add-food-btn">
    <%= link_to "Add food", new_user_food_path %>
  </div>
  <div class="foods">
    <% if @foods.empty? %>
      <p>No foods available.</p>
    <% else %>
      <table class="foods-table">
        <thead>
          <tr>
            <th>Food</th>
            <th>Measurement Unit</th>
            <th>Unit Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @foods.each do |food| %>
            <tr>
              <td class="food-names">
                <%= link_to food.name, user_food_url(current_user.id, food.id) %>
              </td>
              <td><%= food.measurement_unit %></td>
              <td><%= food.price %></td>
              <td>
                <%= button_to "Delete", 
                  user_food_path(current_user.id, food.id), method: :delete,
                  data: { confirm: "Delete food?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <%= link_to "Go to Dashboard", users_path(current_user) %>
</div>